.chart-gauge {
  width: 400px;
  margin: 10px auto;
}

.chart-color1 {
  fill: #DEA82C;
}

.chart-color2 {
  fill: #E9621A;
}

.chart-color3 {
  fill: #e92213;
}

.needle,
.needle-center {
  fill: #464A4F;
}

.prose {
  text-align: center;
  font-family: sans-serif;
  color: #ababab;
}
