html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: stretch;
  background: #fafafa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 22rem;
  min-height: 22rem;
  overflow-y: hidden;
  color: #212121;
}

ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

#badge-container {
  background: #ffffff;
  height: 100%;
  border-top: 1px solid #eceaea;
  margin-top: 40px;
}

#badge-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#badge-list > li {
  cursor: pointer;
  list-style-type: none;
  margin: 10px;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  justify-content: space-between;
}

.badge-contents-container {
  display: flex;
}

.badge-item:hover,
.badge-item:active {
  background-color: #f2f2f2;
}

.badge-item::after {
  content: ">";
  color: grey;
  width: 20px;
  height: 20px;
}

.badge-category {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.badge-image {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero {
  height: 3.5rem;
}

.hero img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #1c1c1c;
}

.disable {
  pointer-events: none !important;
  opacity: 0.7;
  background-color: #e0e0e0 !important;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  flex-direction: column;
}

#siteinfo-container {
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  text-align: center;
}

#site-favicon {
  height: 16px;
  margin-right: 0.5rem;
  width: 16px;
}

#site-url {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16rem;
  word-break: keep-all;
  white-space: nowrap;
}

.site-error {
  display: none;
  background: #e0e0e0;
  margin-top: 0px;
  flex-direction: column;
  padding: 2rem;
}

#error-image {
  width: 4rem;
  margin: 0 auto;
}

#error-message {
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 25px;
  text-transform: uppercase;
}

#snift-gauge {
  margin-top: 30px;
  width: 150px;
  align-self: center;
}

#snift-score {
  font-size: 25px;
  font-weight: 700;
  margin-top: -50px;
  text-align: center;
}

#score-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#score-label {
  font-size: 12px;
  margin-top: 2px;
  margin-left: 2px;
  text-align: center;
}

#badge-label {
  text-align: center;
  color: #009688;
  font-size: 22px;
  margin: 20px 0px;
  letter-spacing: 0.14rem;
  font-weight: 900;
}

.label {
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

/** Firefox specific **/
@supports (-moz-appearance: none) {
  .hero {
    height: 4rem;
  }

  .badge-category {
    font-size: 15px;
  }

  .badge-image {
    width: 22px;
    height: 22px;
  }
}
