body {
  align-items: stretch;
  box-sizing: content-box;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  height: 25rem;
  margin: 0 auto;
  position: relative;
  width: 15rem;
  border-radius: 20px;
}

.hero img {
  width: 13rem;
  height: 2rem;
  padding: 1rem;
  background: #040404;
}

.score-container {
  padding: 1rem;
}
