html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --popup-height: 22rem;
  --popup-width: 22rem;
  --score-icon-size: 8px;
  --score-icon-margin: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  align-items: stretch;
  background: #fafafa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: var(--popup-width);
  min-height: var(--popup-height);
  overflow-y: hidden;
  color: #212121;
}

ul,
li,
p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
  text-align: center;
}

#popup-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#badge-container {
  display: flex;
  background: #ffffff;
  height: 100%;
  width: 100%;
  border-top: 1px solid #eceaea;
  margin-top: 40px;
}

#badge-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#badge-list > li {
  cursor: pointer;
  margin: 10px;
  text-align: center;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  justify-content: space-between;
}

.badge-contents-container {
  display: flex;
}

.badge-item:hover,
.badge-item:active {
  background-color: #f2f2f2;
}

.badge-item::after {
  content: ">";
  color: grey;
  width: 20px;
  height: 20px;
}

.badge-category {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.badge-image {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero {
  height: 3.5rem;
}

.hero img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #1c1c1c;
}

.disable {
  pointer-events: none !important;
  opacity: 0.7;
  background-color: #e0e0e0 !important;
}

#main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  flex-direction: column;
}

#siteinfo-container {
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  text-align: center;
}

#site-favicon {
  height: 16px;
  margin-right: 0.5rem;
  width: 16px;
}

#site-url {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16rem;
  word-break: keep-all;
  white-space: nowrap;
}

.site-error {
  display: none;
  background: #e0e0e0;
  margin-top: 0px;
  flex-direction: column;
  padding: 2rem;
}

#error-image {
  width: 4rem;
  margin: 0 auto;
}

#error-message {
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 25px;
  text-transform: uppercase;
}

#snift-gauge {
  margin-top: 30px;
  width: 150px;
  align-self: center;
}

#snift-score {
  font-size: 25px;
  font-weight: 700;
  margin-top: -50px;
  text-align: center;
}

#score-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#score-label {
  font-size: 12px;
  margin-top: 2px;
  margin-left: 2px;
  text-align: center;
}

#badge-label {
  text-align: center;
  color: #009688;
  font-size: 22px;
  margin: 20px 0px;
  letter-spacing: 0.14rem;
  font-weight: 900;
}

.label {
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

/** Badge Explanation View **/

#go-back {
  position: absolute;
  left: 10px;
  color: #717171;
  margin-top: 6px;
  cursor: pointer;
  text-decoration: none;
}

#go-back:hover {
  color: #969696;
}

#explanation-view {
  display: none;
  height: var(--popup-height);
  text-align: center;
  width: 100%;
  max-width: var(--popup-width);
  background: #ffffff;
  justify-content: center;
  flex-direction: column;
}

#explanation-view div {
  padding-top: 10px;
}

#explanation-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#explanation-list li {
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  list-style-type: none;
  margin: 0px;
  display: flex;
  align-items: baseline;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #dadada;
  justify-content: flex-start;
}

#explanation-list li:last-child {
  border-bottom: none;
}

#explanation-list li::before {
  content: "";
  min-width: var(--score-icon-size);
  min-height: var(--score-icon-size);
  width: var(--score-icon-size);
  height: var(--score-icon-size);
  display: inline-block;
  margin-right: var(--score-icon-margin);
}

#explanation-list li.metric-pass::before {
  border-radius: 100%;
  background-color: #07be53;
}

#explanation-list li.metric-fail::before {
  color: #ff5757;
  border-left: calc(var(--score-icon-size) / 2) solid transparent;
  border-right: calc(var(--score-icon-size) / 2) solid transparent;
  border-bottom: var(--score-icon-size) solid #ff5757;
}

#explanation-list li.metric-pass {
  color: #058c3d;
}

#explanation-list li.metric-fail {
  color: #c14747;
}

#category-title {
  max-width: 80%;
  margin-top: 3px;
  font-size: 17px;
  color: #4a4a4a;
}

/** Firefox specific **/
@supports (-moz-appearance: none) {
  .hero {
    height: 4rem;
  }

  .badge-category {
    font-size: 15px;
  }

  .badge-image {
    width: 22px;
    height: 22px;
  }

  #explanation-list li {
    font-size: 15px;
    padding: 15px;
  }

  #go-back {
    font-size: 13px;
  }

  #category-title {
    font-size: 18px;
  }
}
